
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --mid-blue:  #6385b1;
  --dark-blue: #1e4270;
}
/* Below we are styling the Header */

header {
    background-color: var(--mid-blue);
    color: #ffffff;
    padding: 2% 0 2% 0;
    width: 100%;
}

header h1 {
  width: 320px;
  text-align: left;
  display: inline-block;
  font-size: 35px;
  background-color: var(--dark-blue);
  padding:12px;
  padding-left:20px;
  margin-left: 0px;
}

nav {
  display:block;
  float: right;
  text-align: center;
  margin-right: 20px;
}

nav ul {
  display:flex;
  align-content:center;
  justify-content:space-between;
  min-width: 400px;
  padding-top: 15px;
  margin-left: 10px;
}
  
nav a {
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px white solid;
    padding: 0px 0 4px 0;
} 

.header-image {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  align-content: center;
}

.header-image h2 {
  float:right;
  margin: 150px 50px 10px 0;
  color: whitesmoke;
  font-size: 25px;
}

/* Here we are making the main content (which contains the article "About Me" and the "Work" sections. */
/* We want to flex them in a direction of column since the sections go from top to bottom. */

main {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* border: 1px black dashed; */
}

/* Here we are styling the "About Me" section. We want it to flex in the row direction since this content goes
  from left to right, starting with the header on the left, and then the image and details on the right. */

.article {
  display: flex;
  margin-top: 25px;
} 

.article-container {
  width:70%;
}

.headings {
  color:var(--dark-blue);
  float: left;
  text-align: right;
  margin: 2px 2px 2px 2px;
  padding: 0 2% 0 8%;
  font-size: 50px;
  align-items: stretch;
  width: 320px;
}

/* Here we are creating a class for the image and about me <p> information and creating their own class so that 
  when the screen adjusts, these adjust & wrap in relation to each other without affecting the Header "About Me" */

/* .article-container {
  width:70%;
} */

/* .article img {
  max-height: 10%;
  padding: 10px 20px 10px 20px;
  border: 1px black dashed;
  flex: 0 1 auto;
  flex-basis: 30%;
}  */

.article p {
  padding: 0px 5px 0px 5px;
  border-left: 4px var(--dark-blue) solid;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 5px 5px 5px 0px;
}

/* Below we are styling the "Work" section */

.work {
  display: flex;
  margin-top: 25px;
}


.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-left:  4px var(--dark-blue) solid;
  padding: 0px 5px 10px 5px;
  margin: 5px 0px 5px 0;
  width:70%;
  justify-content:center;
}

.project1 img{
  padding-right:auto;
  width:100%;
  height:100%;
  flex: 0 2 100%;
}

.project1, .project2, .project3{
  padding: 10px 10px 10px 10px;
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: stretch;
  margin-bottom: 20px;
}


footer ul {
  align-items: stretch;
  display:block;
  float: right;
  justify-content: space-evenly;
  width: 70%;
  text-align: center;
  list-style: none ;
  border-left:  4px var(--dark-blue) solid;
  padding: 60px 0 60px 0px;
  margin-top: auto;
  margin-bottom: auto;
}

footer ul li {
  display: inline-block;
  padding-right:5%;
  width: auto;
  margin-right: 0.5%;
  padding-left: 0;
  margin-left:0;
}

footer ul li a {
  color:var(--dark-blue);
  text-decoration: underline;
  font-weight: bold;
  padding: 0px 20px 4px 20px;
}


/* Want the section headers to go to the top with content underneath when page shrinks in column format. */
@media screen and (min-width: 768px) {
header {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap: wrap;
  flex: 1 1 auto;
}


}

@media screen and (min-width: 992px) {

  header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }

  header h1 {
    justify-content: flex-start;
  }

}