
* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Below we are styling the Header */

header {
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: #6385b1;
    color: #ffffff;
    padding: 2% 4% 2% 4%;
    width: 100%;
}

header h1 {
  text-align: center;
}
nav {
  align-content: center;
}

nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    min-width: 400px;
    list-style: none;
  }
  
nav a {
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px white solid;
    margin-bottom: -10px;
    padding: 0 0 4px 0;
    text-align:center;
} 

.header-image {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./images/header.jpg");
  background-size: cover;
  background-position: center;
  align-content: center;
}

.header-image h2 {
  float:right;
  margin: 150px 50px 10px 0;
  color: whitesmoke;
}

/* Here we are making the main content (which contains the article "About Me" and the "Work" sections. */
/* We want to flex them in a direction of column since the sections go from top to bottom. */

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border: 1px black dashed;
}

/* Here we are styling the "About Me" section. We want it to flex in the row direction since this content goes
  from left to right, starting with the header on the left, and then the image and details on the right. */

.article {
  flex-basis:100%;
  flex-direction: row;
  border: 1px black dashed;
}

.article h2 {
  text-align: right;
  margin: 2px 2px 2px 2px;
  padding: 0px 12px 0px 50px;
  border-right: 4px rgb(28, 58, 124) solid;
  font-size: 50px;
}

/* Here we are creating a class for the image and about me <p> information and creating their own class so that 
  when the screen adjusts, these adjust & wrap in relation to each other without affecting the Header "About Me" */

.article-container {
  flex-direction: row;
  flex-wrap: wrap;
}

/* .article img {
  max-height: 10%;
  padding: 10px 20px 10px 20px;
  border: 1px black dashed;
  flex: 0 1 auto;
  flex-basis: 30%;
}  */

.article p {
  padding: 10px 10px 10px 10px;
  border: 1px black dashed;
  flex-basis: 70%;
}

/* Below we are styling the "Work" section */

.work {
  /* display: flex; */
  flex-direction: row; 
  border: 1px black dashed;
}

.work h3 {
  text-align: right;
  margin: 2px 2px 2px 2px;
  padding: 0px 12px 0px 50px;
  border-right: 4px rgb(28, 58, 124) solid;
  font-size: 50px;
}


.projects {
  /* display:flex; */
  border: 1px black dashed;
}

.projects div {
  border: 1px black dashed;
}

footer {
  display: flex;
  flex-direction: row; 
  border: 1px black dashed;
}

footer h2 {
  width: 30%;
  text-align: right;
  margin: 2px 2px 2px 2px;
  padding: 0px 12px 0px 50px;
  border-right: 4px rgb(28, 58, 124) solid;
  font-size: 50px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  list-style: none;
  align-content: center;
}

/* Want the section headers to go to the top with content underneath when page shrinks in column format. */

@media screen and (min-width: 768px) {
    header  {
      display: flex;
    }

    .work {
      display: flex;
    }

    .article {
      display: flex;
    }

    .projects {
      display: flex;
    }
  }
